<h1>About Voting</h1>
<p>If you have no access to an electronic voting machine, mark your vote on a piece of paper. If no paper, then etch your choice into a stone. The Management thanks you for your cooperation.</p>
