/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {background-color:#eee;
	background-image: url(Leaf_Image.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
body{
	
	font-family: georgia, sans-serif;
	width: 70%;
	margin: 0 auto; /*automatically calculates the margin according to screensize*/
	background-color: aliceblue;
	padding: 20px 40px;
	border: 1px solid #ddd;
	color: indigo;

}
header{
	background-color: #333;
	color: lavender;
	padding: 20px;
	/*border-left: 5px solid lavender;*/
	background-image: url(Leaf_Image.jpg); /*instead of having in the header, put it on the body or html tag */
	background-repeat:no-repeat;
	background-size: cover;

}
header h1{
	font-size: 40px;
	text-align: center;
}
footer {
	font-size: 10px;
	padding-top: 20px;
}
nav ul{
	list-style:none;
	margin-left:0;
	padding-left:0;
	
}

nav li{
	display:inline;
	padding-right:5px;

}

header a:link {color: lavender;}
header a:visited {color: lavender};
header a:hover {color: lavender;}
header a:focus {color: lavender;}
header a:active {color: lavender;}

table{
	width: 100%;	
}
thead th { /*columns*/
	border-bottom: 2px solid #ccc;
	text-align:left;
}
th,
td {
	padding: 5px 0; 
}
tbody tr {  /*select table rows that are table body*/
	background-color: whitesmoke;
}
tbody tr:nth-child(even) { /*creates zebra stripes in table*/
	background-color: lavender;
}
/*to change the link colors for lower order hyperlinks, 
such as Hello, Goodbye, put in a:link {color#} and etc.;*/
